.button {
    font-size: 16px;
    line-height: 24px;
    min-height: 52px;
    padding: 13px 15px;
    align-items: center;
    border-radius: 8px;
    border-style: solid;
    border-width: 1px;
    background-color: #4ea5ff;
    border-color: #4ea5ff;
    color: #fff;
    cursor: auto;
    display: inline-flex;
    flex-direction: column;
    flex-shrink: 0;
    justify-content: center;
    max-width: 100%;
    outline: none;
    overflow: hidden;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    width: auto;
}

.button:hover:not(:disabled) {
    background-color: #084fc1;
}

.button:active:not(:disabled) {
    transform: translateY(1px);
}

.button:disabled {
    opacity: 0.6;
    cursor: not-allowed;
}