.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 5.5rem;
}

.label {
    font-size: 0.875rem;
    font-weight: 500;
    color: #ababab;
    line-height: 1.2;
    margin-bottom: 0.25rem;
    min-height: 0.9rem;
    white-space: nowrap;
}